{% extends 'partials/base.html'%}

{% block content %}

<div class="d-flex justify-content-center align-items-center vh-75">
    <div class="p-4">

            {{flash}}

        <main id="page-content" class="d-flex justify-content-center align-items-center" style="min-height: 65vh;">
            <div class="text-center">
                <h1 class="fw-bold text-primary">Página não encontrada</h1>
                <h1 class="error-404">404</h1>
                <p class="text-secondary mt-3">O link que você seguiu deve estar quebrado ou a página pode ter sido removida.</p>
            </div>
        </main>

        <style>
            .text-primary {
                color: #1783a4 !important;
            }
            .text-secondary {
                color: #343a40 !important;
            }
        </style>

    </div>
</div>




{% endblock %}