{% extends 'base.html'%}

{% block content %}

<div>

    <form action="">

        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Nome" aria-label="Nome">
            </div>
            <div class="col">
                <input type="number" class="form-control" placeholder="Idade" aria-label="Idade" min="0" step="1">
            </div>
        </div>

        <button type="submit">Cadastrar</button>

    </form>

</div>

{% endblock %}