{% extends 'partials/base.html'%}

{% block content %}

<div class="container">

    <h2 class="fw-bolder text-start mb-4 custom-color-blue">

        {% if not formData.id %}
            Cadastro de Pessoa
        {% else %}
            Edição da Pessoa: {{ formData.nome }}
        {% endif %}
    </h2>
    <div class="row justify-content-center">
        <div class="col-sm-9 col-12">
            {{ flash() }}
        </div>
    </div>

    <form action="{{ not formData.id ? url('cadastrar-pessoa') : url('editar-pessoa/' ~ formData.id) }}" method="POST">
        <div class="row justify-content-center">
            <input type="hidden" name="id" value="{{ formData.id is defined ? formData.id : '' }}">
            <div class="col-sm-6 col-12">
                <input type="text" name="nome" class="form-control mb-2" placeholder="Nome" aria-label="Nome"
                       value="{{ formData.nome is defined ? formData.nome : '' }}">
            </div>
            <div class="col-sm-3 col-12">
                <input type="number" name="idade" class="form-control mb-2" placeholder="Idade" aria-label="Idade"
                       min="0" step="1" value="{{ formData.idade is defined ? formData.idade : '' }}">
            </div>
        </div>

        <div class="text-center">
            <button class="btn custom-primary-button mt-3" type="submit">
                {% if not formData.id %}
                    Cadastrar
                {% else %}
                    Salvar
                {% endif %}
            </button>

            <button class="btn btn-secondary mt-3" type="reset" onclick="window.location.href='{{ url('cadastrar-pessoa') }}'">
                {% if not formData.id %}
                limpar Formulário
                {% else %}
                cancelar
                {% endif %}
            </button>

        </div>
    </form>



</div>

<div class="container my-5 ">
    <hr class="custom-gray-line">
    <h4 class="text-center mt-2 fw-bolder">Pessoas Cadastrados</h4>

    <div class="">
        <div class="table-responsive overflow-auto">
            <table class="table align-middle mt-4 custom-table-header">
                <thead class="table-light text-center">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Idade</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for person in persons %}
                        <tr>

                            <td class="col-sm-1 text-center">{{person.id}}</td>
                            <td class="col-sm-7 ps-5">{{person.name}}</td>
                            <td class="col-sm-2 text-center">{{person.age}}</td>

                            <td class="col-sm text-center">
                                <a href="{{ url('editar-pessoa/' ~ person.id) }}"
                                   class="d-inline-block text-decoration-none custom-primary-button warning mb-1">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                    <span class="d-none d-sm-inline">Editar</span>
                                </a>
                                <a href="{{ url('deletar-pessoa/' ~ person.id) }}"
                                   class="d-inline-block text-decoration-none custom-primary-button danger"
                                   data-id="{{ person.id }}"
                                   data-name="{{ person.name }}"
                                   data-bs-toggle="modal"
                                   data-bs-target="#deleteModal">
                                    <i class="fa-regular fa-trash-can"></i>
                                    <span class="d-none d-sm-inline">Excluir</span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content text-center">
                <div class="modal-header bg-danger-subtle text-danger-emphasis">
                    <h5 class="modal-title" id="deleteModalLabel">Confirmação Ação</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Você tem certeza de que deseja excluir a pessoa <strong id="modalPersonName"></strong>?<br>
                    Esta ação apagará todas as transações deste usuário e não poderá ser desfeita.
                </div>
                <div class="modal-footer custom-gray-bg-color">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <a href="#" id="confirmDelete" class="btn btn-danger">Sim, Deletar</a>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block script %}
<script src="{{ url('templates/assets/js/modal.js') }}"></script>
{% endblock %}