{% extends 'partials/base.html'%}

{% block content %}

<div class="container">

    <h2 class="fw-bolder text-start mb-4 custom-color-blue">
        {% if not formData.id %}
            Cadastro de Receitas e Despesas
        {% else %}
            Edição da {{ formData.typeOption }} da transacão {{ formData.descryption }}
        {% endif %}
    </h2>
    <div class="row justify-content-center">
        <div class="col-sm-9 col-12">
            {{ flash() }}
        </div>
    </div>



    <form action="{{ not formData.id ? url('cadastrar-transacao') : url('editar-transacao/' ~ formData.id) }}" method="POST">

        <input type="hidden" name="id" value="{{ formData.id is defined ? formData.id : '' }}">

        <div class="row justify-content-center mb-3">
            <div class="col-sm-3 col-12">
                <div class="pb-1">
                    <span>Pessoa Responsável pela transação:</span>
                </div>
                <select class="form-select" aria-label="Default select example" name="pessoa" id="pessoaSelect">
                    <option selected disabled>-- Selecione a pessoa aqui --</option>
                    {% for person in persons %}
                    <option person-name="{{person.name}}" age="{{person.age}}" value="{{ person.id }}" {% if person.id == formData.pessoa %}selected{% endif %}>
                        {{ person.name }} {{ person.age < 18 ? ' (menor de idade)' : '' }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-sm-6 col-12">
                <div class="pb-1">
                    <span>Tipo de despesa:</span>
                </div>


                <input type="radio" class="btn-check" name="typeOption" id="option1" autocomplete="off" value="Receita" disabled
                {% if formData.typeOption == 'Receita' %}checked{% endif %}>
                <label class="btn btn-outline-success" for="option1">Receita</label>

                <input type="radio" class="btn-check" name="typeOption" id="option2" autocomplete="off" value="Despesa" disabled
                {% if formData.typeOption == 'Despesa' %}checked{% endif %}>
                <label class="btn btn-outline-danger" for="option2">Despesa</label>

            </div>

        </div>

        <div class="row justify-content-center mb-2">
            <div class="col-sm-6 col-12">
                <input type="text"
                       name="nomeDespesa"
                       class="form-control mb-2"
                       placeholder="Insira aqui a descriçao da despesa"
                       aria-label="Descriçao da despesa"
                       value="{{ formData.nomeDespesa is defined ? formData.nomeDespesa : '' }}" disabled>
            </div>

            <div class="col-sm-3 col-12">
                <input type="number"
                       name="valor"
                       class="form-control mb-2"
                       placeholder="Valor (formato 0.00)"
                       aria-label="valor"
                       min="0" step="0.01"
                       value="{{ formData.valor is defined ? formData.valor : '' }}" disabled>
            </div>


        </div>

        <div class="row justify-content-center">
            <div class="col-sm-9 col-12">
                <textarea class="form-control"
                          rows="3"
                          placeholder="Se necessário, inclua seu(s) comentário(s) e observações sobre o lançamento aqui..."
                          id="observacao"
                          name="observacao" disabled>{{ formData.observacao|trim }}</textarea>
            </div>
        </div>

        <div class="text-center">
            <button class="btn custom-primary-button mt-3" type="submit" disabled>
                {% if not formData.id %}
                Cadastrar
                {% else %}
                Salvar
                {% endif %}
            </button>


            <button class="btn btn-secondary mt-3" type="reset" onclick="window.location.href='{{ url('cadastrar-transacao') }}'">
            {% if not formData.id %}
                    limpar Formulário
            {% else %}
                    cancelar
            {% endif %}
            </button>

        </div>
    </form>
</div>


<div class="container mt-2 mb-5">
    <hr class="custom-gray-line">
    <h4 class="text-center my-2 fw-bolder">Transações Cadastradas</h4>

    <div class="table-responsive">
        <table class="table align-middle custom-table-header mt-3">
            <thead class="table-light text-center">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Descrição da Transação</th>
                    <th scope="col">Tipo de Custo</th>
                    <th scope="col">Custo</th>
                    <th scope="col">Pessoa</th>
                    <th scope="col">Comentário</th>
                    <th scope="col">Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td class="col-sm text-center">{{transaction.id}}</td>
                        <td class="col-sm ps-5">{{transaction.expense_name}}</td>
                        <td class="col-sm text-center">{{transaction.cost_type}}</td>

                        {% if transaction.cost_type == 'Despesa' %}
                        <td class="col-sm text-center text-danger fw-medium">{{ '( R$ ' ~ transaction.cost|number_format(2, ',', '.') ~ ' )' }}
                            {% else %}
                        <td class="col-sm text-center">{{ 'R$ ' ~ transaction.cost|replace({',': '.'})|number_format(2, ',', '.') }}
                            {% endif %}
                        </td>


                        {% set found = false %}

                        {% for person in persons %}
                        {% if person.id == transaction.people_id %}
                        <td class="col-sm text-center">
                            {{ person.name }}
                        </td>
                        {% set found = true %}
                        {% endif %}
                        {% endfor %}

                        {% if not found %}
                        <td class="col-sm text-center">
                            Não localizado
                        </td>
                        {% endif %}


                        <td class="col-sm text-center">{{transaction.notes is empty ? ' --- ' : transaction.notes}}</td>

                        <td class="col-sm text-center">
                            <a href="{{ url('editar-transacao/' ~ transaction.id) }}" class="d-inline-block text-decoration-none custom-primary-button warning">
                                <i class="fa-regular fa-pen-to-square"></i>
                                <span class="d-none d-sm-inline">Editar</span>
                            </a>
                            &nbsp;
                            <a href="{{ url('deletar-transacao/' ~ transaction.id) }}" class="d-inline-block text-decoration-none custom-primary-button danger">
                                <i class="fa-regular fa-trash-can"></i>
                                <span class="d-none d-sm-inline">Excluir</span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>



</div>

{% endblock %}

{% block script %}
<script src="{{ url('templates/assets/js/transactions.js') }}"></script>
{% endblock %}