
<footer class="fixed-bottom">
    <div class="container">

        <div class="d-block d-md-none">
            <div class="container text-center m-3">
                <span class="">
                    &copy; 2025 -
                    <a href="https://github.com/gpereira86" target="_blank" class="">
                        <i class="fa-brands fa-github"></i>&nbsp; Glauco Pereira
                    </a>
                </span>
            </div>
        </div>


        <div class="d-none d-md-block">

            <div class="container text-center my-3">

                <div class="row">
                    <div class="col text-start">
                        <span>&copy; 2025 - {{ constant('SITE_DESCRIPTION') }}</span>
                    </div>

                    <div class="col text-end">
                        <a href="https://github.com/gpereira86" target="_blank">
                            <i class="fa-brands fa-github"></i>&nbsp; Glauco Pereira
                        </a>
                    </div>

                </div>

            </div>

        </div>

    </div>

</footer>
